In [2]:
import pandas as pd
from sqlalchemy import create_engine
import scipy.stats as sts
import numpy as np
from datetime import datetime

In [3]:
#read csv file - country_vaccinations.csv
csv_file = "../Resources/country_vaccinations.csv"
world_vac_df = pd.read_csv(csv_file)

In [4]:
#list vaccines provider
world_vac_df["vaccines"].value_counts()

Pfizer/BioNTech                          918
Moderna, Pfizer/BioNTech                 452
Oxford/AstraZeneca, Pfizer/BioNTech      236
Pfizer/BioNTech, Sinopharm                69
Sputnik V                                 67
CNBG, Sinovac                             48
Sinovac                                   40
Oxford/AstraZeneca, Sinopharm             26
Pfizer/BioNTech, Sinopharm, Sputnik V     23
Covaxin, Oxford/AstraZeneca               18
Oxford/AstraZeneca, Sinovac               17
Pfizer/BioNTech, Sinovac                   9
Oxford/AstraZeneca                         6
Name: vaccines, dtype: int64

In [5]:
#clean the provider name
world_vac_df["vaccines"].replace({"Pfizer/BioNTech": "Pfizer", "Moderna, Pfizer/BioNTech ":"Moderna","Oxford/AstraZeneca, Pfizer/BioNTech ":"Vaccitech","Pfizer/BioNTech, Sinopharm":"Sinopharm", "CNBG, Sinovac":"CNBG","Oxford/AstraZeneca, Sinopharm ":"Pfizer", "Pfizer/BioNTech, Sinopharm, Sputnik V ":"Pfizer","Covaxin, Oxford/AstraZeneca":"Covaxin", "Oxford/AstraZeneca, Sinovac ":"Vaccitech","Pfizer/BioNTech, Sinovac":"Pfizer","Oxford/AstraZenec":"Vaccitech"}, inplace=True)

#extract data: relevant columns - country,iso_code, date, daily_vaccinations, vaccines,source_name
world_vac_df = world_vac_df[["country", "date", "daily_vaccinations",
                       "vaccines","source_name"]]
#rename the column
world_vac_df = world_vac_df.rename(columns = {'country': 'Country','date':'Date'})

In [6]:
#vaccine provider tables
Pfizer_df = world_vac_df.loc[world_vac_df["vaccines"] == "Pfizer"]
Pfizer_df = Pfizer_df[["Country", "Date","vaccines",]]

Moderna_df = world_vac_df.loc[world_vac_df["vaccines"] == "Moderna"]
Moderna_df = Moderna_df[["Country", "Date","vaccines",]]

Vaccitech_df = world_vac_df.loc[world_vac_df["vaccines"] == "Vaccitech"]
Vaccitech_df  = Vaccitech_df[["Country", "Date", "vaccines",]]

Sinopharm_df = world_vac_df.loc[world_vac_df["vaccines"] == "Sinopharm"]
Sinopharm_df = Sinopharm_df[["Country", "Date","vaccines",]]

Sputnik_V_df = world_vac_df.loc[world_vac_df["vaccines"] == "Sputnik V"]
Sputnik_V_df = Sputnik_V_df[["Country", "Date","vaccines",]]

CNBG_df = world_vac_df.loc[world_vac_df["vaccines"] == "CNBG"]
CNBG_df = CNBG_df[["Country", "Date","vaccines",]]

Covaxin_df = world_vac_df.loc[world_vac_df["vaccines"] == "Covaxin"]
Covaxin_df = Covaxin_df[["Country", "Date",
                       "vaccines",]]

In [7]:
Pfizer_df

      Country        Date vaccines
37    Austria  2021-01-10   Pfizer
38    Austria  2021-01-11   Pfizer
39    Austria  2021-01-12   Pfizer
40    Austria  2021-01-13   Pfizer
41    Austria  2021-01-14   Pfizer
...       ...         ...      ...
1701   Sweden  2021-01-25   Pfizer
1702   Sweden  2021-01-26   Pfizer
1703   Sweden  2021-01-27   Pfizer
1704   Sweden  2021-01-28   Pfizer
1705   Sweden  2021-01-29   Pfizer

[927 rows x 3 columns]

In [8]:
Moderna_df

Empty DataFrame
Columns: [Country, Date, vaccines]
Index: []

In [9]:
Vaccitech_df

Empty DataFrame
Columns: [Country, Date, vaccines]
Index: []

In [10]:
Sinopharm_df

                   Country        Date   vaccines
60                 Bahrain  2020-12-23  Sinopharm
61                 Bahrain  2020-12-24  Sinopharm
62                 Bahrain  2020-12-25  Sinopharm
63                 Bahrain  2020-12-26  Sinopharm
64                 Bahrain  2020-12-27  Sinopharm
...                    ...         ...        ...
1787  United Arab Emirates  2021-01-28  Sinopharm
1788  United Arab Emirates  2021-01-29  Sinopharm
1789  United Arab Emirates  2021-01-30  Sinopharm
1790  United Arab Emirates  2021-01-31  Sinopharm
1791  United Arab Emirates  2021-02-01  Sinopharm

[69 rows x 3 columns]

In [11]:
Sputnik_V_df

        Country        Date   vaccines
0       Algeria  2021-01-29  Sputnik V
1       Algeria  2021-01-30  Sputnik V
2     Argentina  2020-12-29  Sputnik V
3     Argentina  2020-12-30  Sputnik V
4     Argentina  2020-12-31  Sputnik V
...         ...         ...        ...
1436     Russia  2021-01-09  Sputnik V
1437     Russia  2021-01-10  Sputnik V
1438     Russia  2021-01-11  Sputnik V
1439     Russia  2021-01-12  Sputnik V
1440     Russia  2021-01-13  Sputnik V

[67 rows x 3 columns]

In [12]:
CNBG_df

    Country        Date vaccines
265   China  2020-12-15     CNBG
266   China  2020-12-16     CNBG
267   China  2020-12-17     CNBG
268   China  2020-12-18     CNBG
269   China  2020-12-19     CNBG
270   China  2020-12-20     CNBG
271   China  2020-12-21     CNBG
272   China  2020-12-22     CNBG
273   China  2020-12-23     CNBG
274   China  2020-12-24     CNBG
275   China  2020-12-25     CNBG
276   China  2020-12-26     CNBG
277   China  2020-12-27     CNBG
278   China  2020-12-28     CNBG
279   China  2020-12-29     CNBG
280   China  2020-12-30     CNBG
281   China  2020-12-31     CNBG
282   China  2021-01-01     CNBG
283   China  2021-01-02     CNBG
284   China  2021-01-03     CNBG
285   China  2021-01-04     CNBG
286   China  2021-01-05     CNBG
287   China  2021-01-06     CNBG
288   China  2021-01-07     CNBG
289   China  2021-01-08     CNBG
290   China  2021-01-09     CNBG
291   China  2021-01-10     CNBG
292   China  2021-01-11     CNBG
293   China  2021-01-12     CNBG
294   China  2021-01-13     CNBG
295   China  2021-01-14     CNBG
296   China  2021-01-15     CNBG
297   China  2021-01-16     CNBG
298   China  2021-01-17     CNBG
299   China  2021-01-18     CNBG
300   China  2021-01-19     CNBG
301   China  2021-01-20     CNBG
302   China  2021-01-21     CNBG
303   China  2021-01-22     CNBG
304   China  2021-01-23     CNBG
305   China  2021-01-24     CNBG
306   China  2021-01-25     CNBG
307   China  2021-01-26     CNBG
308   China  2021-01-27     CNBG
309   China  2021-01-28     CNBG
310   China  2021-01-29     CNBG
311   China  2021-01-30     CNBG
312   China  2021-01-31     CNBG

In [13]:
Covaxin_df

    Country        Date vaccines
792   India  2021-01-15  Covaxin
793   India  2021-01-16  Covaxin
794   India  2021-01-17  Covaxin
795   India  2021-01-18  Covaxin
796   India  2021-01-19  Covaxin
797   India  2021-01-20  Covaxin
798   India  2021-01-21  Covaxin
799   India  2021-01-22  Covaxin
800   India  2021-01-23  Covaxin
801   India  2021-01-24  Covaxin
802   India  2021-01-25  Covaxin
803   India  2021-01-26  Covaxin
804   India  2021-01-27  Covaxin
805   India  2021-01-28  Covaxin
806   India  2021-01-29  Covaxin
807   India  2021-01-30  Covaxin
808   India  2021-01-31  Covaxin
809   India  2021-02-01  Covaxin

In [14]:

#vaccine by date
world_vac_df = world_vac_df.groupby('Date')

world_vac_df.head(20)

,Country,Date,daily_vaccinations,vaccines,source_name
0,Algeria,2021-01-29,NaN,Sputnik V,Ministry of Health
1,Algeria,2021-01-30,30.0,Sputnik V,Ministry of Health
2,Argentina,2020-12-29,NaN,Sputnik V,Ministry of Health
3,Argentina,2020-12-30,15656.0,Sputnik V,Ministry of Health
4,Argentina,2020-12-31,15656.0,Sputnik V,Ministry of Health
...,...,...,...,...,...
1888,Wales,2020-12-22,2076.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom
1889,Wales,2020-12-23,2014.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom
1890,Wales,2020-12-24,1953.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom
1891,Wales,2020-12-25,1891.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom
1892,Wales,2020-12-26,1830.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom

In [15]:
#read impact on airport traffic csv file
csv_file = "../Resources/covid_impact_on_airport_traffic.csv"
airport_traffic_df = pd.read_csv(csv_file)

In [16]:
#extract data: relevant columns - Date,Country,State,City, AirportName,PercentOfBaseline
airport_traffic_df = airport_traffic_df[["Date","Country","State","City","AirportName","PercentOfBaseline"]]
airport_traffic_df

##Clean up
 #Date format
airport_traffic_df['Date'] = airport_traffic_df['Date'].str.replace('/','-')
airport_traffic_df['Date'] = pd.to_datetime(airport_traffic_df.Date)
airport_traffic_df['Date'] = airport_traffic_df['Date'].dt.strftime('%Y-%m-%d')

 #Change countries to make it consistant across mutiple csv files
airport_traffic_df['Country'] = airport_traffic_df['Country'].replace('United States of America (the)', 'United States')

#group by date to make it easier to merge with other df and better mathching information

airport_traffic_df.head()

,Date,Country,State,City,AirportName,PercentOfBaseline
0,2020-04-03,Australia,New South Wales,Sydney,Kingsford Smith,64
1,2020-04-13,Australia,New South Wales,Sydney,Kingsford Smith,29
2,2020-07-10,Australia,New South Wales,Sydney,Kingsford Smith,54
3,2020-09-02,Australia,New South Wales,Sydney,Kingsford Smith,18
4,2020-10-31,Australia,New South Wales,Sydney,Kingsford Smith,22

In [17]:
baseline_stats = airport_traffic_df.describe()
baseline_stats

       PercentOfBaseline
count        7247.000000
mean           66.651442
std            22.134433
min             0.000000
25%            53.000000
50%            67.000000
75%            84.000000
max           100.000000

In [18]:
#airport country locations
airport_traffic_df['Country'].value_counts()

United States    4441
Canada           2311
Australia         257
Chile             238
Name: Country, dtype: int64

In [19]:
#airport names
airport_traffic_df['AirportName'].value_counts()

Los Angeles International                    262
John F. Kennedy International                262
Hartsfield-Jackson Atlanta International     262
Montreal Trudeau                             262
Dallas/Fort Worth International              262
Chicago OHare International                  261
Toronto Pearson                              261
San Francisco International                  261
Daniel K. Inouye International               261
Charlotte Douglas International              261
Washington Dulles International              261
Calgary International                        261
Seattle-Tacoma International                 261
LaGuardia                                    261
McCarran International                       261
Detroit Metropolitan Wayne County            261
Miami International                          261
Boston Logan International                   261
Vancouver International                      261
Denver International                         261
Winnipeg International                       261
Newark Liberty International                 261
Hamilton International                       260
Montreal Mirabel                             257
Kingsford Smith                              257
Halifax International                        252
Santiago International Airport               238
Edmonton International                       236
Name: AirportName, dtype: int64

In [20]:
#read csv file
csv_file = "../Resources/covid_19_clean_complete.csv"
covid_case_df = pd.read_csv(csv_file)

#extract data: relevant columns - Country/Region,Date,Confirmed,WHO Region
covid_case_df = covid_case_df[["Country/Region","Date","Confirmed","WHO Region"]]
covid_case_df.sample(30)

    #rename column:Country/Region to Country
covid_case_df = covid_case_df.rename(columns = {'Country/Region': 'Country'})

#Group by Date
# covid_case_df = covid_case_df.groupby('Date')
covid_case_df.head(10)

               Country        Date  Confirmed             WHO Region
0          Afghanistan  2020-01-22          0  Eastern Mediterranean
1              Albania  2020-01-22          0                 Europe
2              Algeria  2020-01-22          0                 Africa
3              Andorra  2020-01-22          0                 Europe
4               Angola  2020-01-22          0                 Africa
5  Antigua and Barbuda  2020-01-22          0               Americas
6            Argentina  2020-01-22          0               Americas
7              Armenia  2020-01-22          0                 Europe
8            Australia  2020-01-22          0        Western Pacific
9            Australia  2020-01-22          0        Western Pacific

In [21]:
connection_string = "postgres:Logan5811@localhost:5432/ETL"
engine = create_engine(f'postgresql://{connection_string}')

In [22]:
 # Confirm tables
engine.table_names()

['covid', 'airport']

In [24]:
airport_traffic_df.to_sql(name='airport', con=engine, if_exists='append', index=False)

In [26]:
covid_case_df.to_sql(name='covid', con=engine, if_exists='append', index=False)